button {
    margin-bottom: 1.5rem;
}

.loginButton {
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: rgb(181, 155, 127);
    font-size: 2rem;
    font-family: "Fredoka", sans-serif;
    color: black;
}

.registerButton {
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: rgb(181, 155, 127);
    font-size: 2rem;
    font-family: "Fredoka", sans-serif;
    color: black;
}

.guestButton {
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: rgb(255, 242, 229);
    border-color: rgb(255, 242, 229);
    font-size: 1.25rem;
    font-family: "Fredoka", sans-serif;
    color: rgb(139, 145, 97);
    font-weight: 600;
}

.googleLoginButton {
    display: inline-flex;
    height: 2.5rem;
    width: 12rem;
    align-items: center;
    justify-content: right;
    background-color: #ffffff;
    color: #1f1f1f;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    border-radius: 4px;

}

.inputField {
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(181, 155, 127);
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Fredoka", sans-serif;
    margin-bottom: 1rem;
    background-color: white;
}

.emailLoginButton {
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(181, 155, 127);
    font-size: 1rem;
    font-family: "Fredoka", sans-serif;
    color: black;
}