@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


.stage {
  width: 100%;
  max-width: 390px;
  padding: 23px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  height: 844px;
  background-color: #fff2e5;

}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

h1 {
  line-height: 1.2;
  text-align: left;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  color: #995f7d;
}

.stressQuestion {
  background-color: #e7b5d1;
}